# note about using R kernels

See [this post](https://github.com/IRkernel/IRkernel/issues/163#issuecomment-118106005) for quick notes on setting up an R kernel in a jupyter notebook if you want to run this notebook and haven't done so before.

# setup

In [7]:
library(arrow)
library(tidyverse)

Attaching package: ‘arrow’


The following object is masked from ‘package:utils’:

    timestamp

In [11]:
fib <- c(1, 1, 2, 3, 5)
fib_squ <- c(1, 1, 4, 9, 25)

In [12]:
df <- data.frame(fib, fib_squ)

In [13]:
df

  fib fib_squ
1 1    1
2 1    1
3 2    4
4 3    9
5 5   25

In [15]:
df$fib

[1] 1 1 2 3 5

In [24]:
sample <- df$fib_squ[1]
sample

[1] 1

In [25]:
table(df)

   fib_squ
fib 1 4 9 25
  1 2 0 0  0
  2 0 1 0  0
  3 0 0 1  0
  5 0 0 0  1